In [1]:
# set up the computing environment: ensure that graphs
# appear inline in the notebook & not in extra windows:

%matplotlib inline

In [2]:
# set up the computing environment: get the ok system library...

from client.api.notebook import Notebook
# ok = Notebook('ps02.ok')

In [3]:
# set up the computing environment: import other libraries

import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

In [4]:
#libraries:

!pip install linearmodels
import statsmodels.api as sm
from statsmodels.iolib.summary2 import summary_col
from linearmodels.iv import IV2SLS

Requirement already satisfied: linearmodels in /Users/braddelong/opt/anaconda3/lib/python3.7/site-packages (4.17)
Requirement already satisfied: Cython>=0.29.14 in /Users/braddelong/opt/anaconda3/lib/python3.7/site-packages (from linearmodels) (0.29.17)
Requirement already satisfied: scipy>=1 in /Users/braddelong/opt/anaconda3/lib/python3.7/site-packages (from linearmodels) (1.4.1)
Requirement already satisfied: property-cached>=1.6.3 in /Users/braddelong/opt/anaconda3/lib/python3.7/site-packages (from linearmodels) (1.6.4)
Requirement already satisfied: mypy-extensions>=0.4 in /Users/braddelong/opt/anaconda3/lib/python3.7/site-packages (from linearmodels) (0.4.3)
Requirement already satisfied: pandas>=0.23 in /Users/braddelong/opt/anaconda3/lib/python3.7/site-packages (from linearmodels) (1.0.3)
Requirement already satisfied: numpy>=1.15 in /Users/braddelong/opt/anaconda3/lib/python3.7/site-packages (from linearmodels) (1.18.1)
Requirement already satisfied: patsy in /Users/braddelong/opt/anaconda3/lib/python3.7/site-packages (from linearmodels) (0.5.1)
Requirement already satisfied: statsmodels>=0.9 in /Users/braddelong/opt/anaconda3/lib/python3.7/site-packages (from linearmodels) (0.11.0)
Requirement already satisfied: pytz>=2017.2 in /Users/braddelong/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->linearmodels) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/braddelong/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->linearmodels) (2.8.1)
Requirement already satisfied: six in /Users/braddelong/opt/anaconda3/lib/python3.7/site-packages (from patsy->linearmodels) (1.14.0)

Now let me provide you with another set of data analogous to those for the world as a whole that I had you examine in problem set 1. This set will be for the "global north" or "west"—that part of the world that dominated the Americas starting in the 1500s and then became much richer and more powerful than the rest since the start of the 1700s—consisting of northwest Europe, and then by 1770 of that plus he Atlantic seaboard of the Americas, adding on Australia and New Zealand by 1870, and now including those areas plus southwest and some of central Europe, plus Japan, South Korea, and Taiwan. 

The other will be for the "not-west" or "global south".

In [5]:
# for the "global south" or "not-west":

long_run_growth_list_global_south = [
    [-68000, 0.1, 1200, 379.47, 0.9999],
    [-8000, 2.4, 1200, 1897.37, 0.971],
    [-6000, 6.8, 900, 2395.3, 0.971],
    [-3000, 14.5, 900, 3497.9, 0.971],
    [-1000, 48, 900, 6364.1, 0.971],
    [1, 165, 900, 11799.4, 0.971],
    [1500, 475, 900, 20019.9, 0.971],
    [1770, 675, 1070, 29386.7, 0.9412],
    [1870, 1125, 1000, 36172.8, 0.9118],
    [2020, 6800, 7700, 693805.9, 0.8853]
    ]

In [6]:
long_run_growth_global_south_df = pd.DataFrame(
  data=np.array(long_run_growth_list_global_south), columns = ['year', 'population', 
  'income_level', 'human_ideas', 'resources']
  )
long_run_growth_global_south_df['year'] = long_run_growth_global_south_df['year'].apply(np.int64)

In [7]:
initial_year = long_run_growth_global_south_df['year'][0:10]

span = []
g = []
h = []
n = []
rho = []

for t in range(9):
    span = span + [long_run_growth_global_south_df['year'][t+1]-long_run_growth_global_south_df['year'][t]]
    h = h + [np.log(long_run_growth_global_south_df['human_ideas'][t+1]/long_run_growth_global_south_df['human_ideas'][t])/span[t]]
    g = g + [np.log(long_run_growth_global_south_df['income_level'][t+1]/long_run_growth_global_south_df['income_level'][t])/span[t]]
    n = n + [np.log(long_run_growth_global_south_df['population'][t+1]/long_run_growth_global_south_df['population'][t])/span[t]]
    rho = rho + [np.log(long_run_growth_global_south_df['resources'][t+1]/long_run_growth_global_south_df['resources'][t])/span[t]]

In [8]:
long_run_growth_global_south_df.set_index('year', inplace=True)

# finally, add a note to the end of each observation, reminding
# us of what was going on in human history back in each of the
# eras into which we have divided it

eras = ['at the dawn', 'agriculture & herding', 'proto-agrarian age',
        'writing', 'axial age', 'dark & middle age slowdown', 'commercial revolution',
        'industrial revolution', 'modern economic growth', 'whatever the 21st century brings']

long_run_growth_global_south_df['eras'] = eras

format_dict = {'year': '{d}', 'human_ideas': '{0:,.0f}', 
    'income_level': '${0:,.0f}', 'population': '{0:,.1f}', 'resources': '{0:,.3f}'}

long_run_growth_global_south_df.style.format(format_dict)

In [12]:
data_list = np.array([span, n, g, h, rho]).transpose()

long_run_growth_rates_global_south_df = pd.DataFrame(
    data=data_list, columns = ['span', 'n', 'g', 'h', 'rho'])

long_run_growth_rates_global_south_df['initial_year'] = initial_year

eras2 = eras[0:9]

long_run_growth_rates_global_south_df['era'] = eras2

format_dict = {'initial_year':'{0:.0f}',  'span': '{0:.0f}', 'h': '{0:,.3%}', 
    'g': '{0:,.2%}', 'n': '{0:,.2%}', 'n': '{0:,.2%}' , 'rho': '{0:,.3%}'}

print('GLOBAL SOUTH GROWTH RATES')
long_run_growth_rates_global_south_df.style.format(format_dict)

GLOBAL SOUTH GROWTH RATES